In [3]:
import pandas as pd

rides = pd.read_parquet('../data/transformed/validated_rides_2022_01.parquet')
rides.head(10)

      pickup_datetime  pickup_location_id
0 2022-01-01 00:35:40                 142
1 2022-01-01 00:33:43                 236
2 2022-01-01 00:53:21                 166
3 2022-01-01 00:25:21                 114
4 2022-01-01 00:36:48                  68
5 2022-01-01 00:40:15                 138
6 2022-01-01 00:20:50                 233
7 2022-01-01 00:13:04                 238
8 2022-01-01 00:30:02                 166
9 2022-01-01 00:48:52                 236

In [14]:
# Time Series (Hourly Frequency) ->
rides['pickup_hour'] = rides['pickup_datetime'].dt.floor('h')
rides.head(10)

      pickup_datetime  pickup_location_id pickup_hour
0 2022-01-01 00:35:40                 142  2022-01-01
1 2022-01-01 00:33:43                 236  2022-01-01
2 2022-01-01 00:53:21                 166  2022-01-01
3 2022-01-01 00:25:21                 114  2022-01-01
4 2022-01-01 00:36:48                  68  2022-01-01
5 2022-01-01 00:40:15                 138  2022-01-01
6 2022-01-01 00:20:50                 233  2022-01-01
7 2022-01-01 00:13:04                 238  2022-01-01
8 2022-01-01 00:30:02                 166  2022-01-01
9 2022-01-01 00:48:52                 236  2022-01-01

In [8]:
rides.dtypes

pickup_datetime       datetime64[ns]
pickup_location_id             int64
pickup_hour           datetime64[ns]
dtype: object