Time Series data to Tabular Data (to train ML models)

Tablar data have N+1 columns (N features and the target)

In [1]:
import pandas as pd

ts_data = pd.read_parquet('../data/transformed/ts_data_2022_01.parquet')
ts_data

               pickup_hour  rides  pickup_location_id
0      2022-01-01 00:00:00     11                   4
1      2022-01-01 01:00:00     15                   4
2      2022-01-01 02:00:00     26                   4
3      2022-01-01 03:00:00      8                   4
4      2022-01-01 04:00:00      9                   4
...                    ...    ...                 ...
191203 2022-01-31 19:00:00      0                 176
191204 2022-01-31 20:00:00      0                 176
191205 2022-01-31 21:00:00      0                 176
191206 2022-01-31 22:00:00      0                 176
191207 2022-01-31 23:00:00      0                 176

[191208 rows x 3 columns]

In [3]:
ts_data_one_location = ts_data.loc[ts_data.pickup_location_id == 43, :].reset_index(drop=True)
ts_data_one_location

            pickup_hour  rides  pickup_location_id
0   2022-01-01 00:00:00     97                  43
1   2022-01-01 01:00:00     60                  43
2   2022-01-01 02:00:00     22                  43
3   2022-01-01 03:00:00      8                  43
4   2022-01-01 04:00:00      6                  43
..                  ...    ...                 ...
739 2022-01-31 19:00:00     61                  43
740 2022-01-31 20:00:00     73                  43
741 2022-01-31 21:00:00     33                  43
742 2022-01-31 22:00:00     21                  43
743 2022-01-31 23:00:00     12                  43

[744 rows x 3 columns]

In [4]:
def get_cutoff_indices(
    data: pd.DataFrame,
    n_features: int,
    step_size: int
    ) -> list:

        stop_position = len(data) - 1
        
        # Start the first sub-sequence at index position 0
        subseq_first_idx = 0
        subseq_mid_idx = n_features
        subseq_last_idx = n_features + 1
        indices = []
        
        while subseq_last_idx <= stop_position:
            indices.append((subseq_first_idx, subseq_mid_idx, subseq_last_idx))
            
            subseq_first_idx += step_size
            subseq_mid_idx += step_size
            subseq_last_idx += step_size

        return indices

In [5]:
n_features = 24 # whole previous day
step_size = 1

indices = get_cutoff_indices(
    ts_data_one_location,
    n_features,
    step_size
)
indices[:5]

[(0, 24, 25), (1, 25, 26), (2, 26, 27), (3, 27, 28), (4, 28, 29)]

In [6]:
import numpy as np

n_examples = len(indices)
x = np.ndarray(shape=(n_examples, n_features), dtype=np.float32)
y = np.ndarray(shape=(n_examples), dtype=np.float32)
pickup_hours = []

for i, idx in enumerate(indices):
    x[i, :] = ts_data_one_location.iloc[idx[0]:idx[1]]['rides'].values
    y[i] = ts_data_one_location.iloc[idx[1]:idx[2]]['rides'].values
    pickup_hours.append(ts_data_one_location.iloc[idx[1]]['pickup_hour'])

In [7]:
print(f'{x.shape=}') # num of samples
print(f'{x=}')
print(f'{pickup_hours[:5]=}')

x.shape=(719, 24)
x=array([[ 97.,  60.,  22., ...,  16.,  18.,   6.],
       [ 60.,  22.,   8., ...,  18.,   6.,   3.],
       [ 22.,   8.,   6., ...,   6.,   3.,   1.],
       ...,
       [ 28.,  16.,  13., ..., 102.,  66.,  61.],
       [ 16.,  13.,   8., ...,  66.,  61.,  73.],
       [ 13.,   8.,   1., ...,  61.,  73.,  33.]], dtype=float32)
pickup_hours[:5]=[Timestamp('2022-01-02 00:00:00'), Timestamp('2022-01-02 01:00:00'), Timestamp('2022-01-02 02:00:00'), Timestamp('2022-01-02 03:00:00'), Timestamp('2022-01-02 04:00:00')]